@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {    
  height: 100%;
  font-family: 'Open Sans', monospace;
  font-size: 56px;

}


h1:hover {
    color: #f2f2f2;
}

#container {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
 }

#yellow {
    height: 98.5%;
    width: 25%;
    float: left;
    background-color: #999900;
    opacity: 0.75;
    transition: background-color .10s ease-in-out;
    -moz-transition: background-color .10s ease-in-out;
    -webkit-transition: background-color .10s ease-in-out;
}

#green {
    height: 98.5%;
    width: 25%;
    float: left;
    background-color: #009900;
    opacity: 0.75;
    float: left;
    transition: background-color .10s ease-in-out;
    -moz-transition: background-color .10s ease-in-out;
    -webkit-transition: background-color .10s ease-in-out;
}

#red {
    height: 98.5%;
    width: 25%;
    float: left;
    background-color: #990000;
    opacity: 0.75;
    float: left;
    transition: background-color .10s ease-in-out;
    -moz-transition: background-color .10s ease-in-out;
    -webkit-transition: background-color .10s ease-in-out;
}

#blue {
    height: 98.5%;
    width: 25%;
    float: left;
    background-color: #003d99;
    opacity: 0.75;
    float: left;
    transition: background-color .10s ease-in-out;
    -moz-transition: background-color .10s ease-in-out;
    -webkit-transition: background-color .10s ease-in-out;
}

#yellow:active {
     background-color: #ffff00;
}

#green:active {
    background-color: #00ff00;
}

#red:active {
    background-color: #ff0000;

}

#blue:active {
    background-color: #0066ff;
}

