@import url('https://fonts.googleapis.com/css?family=Space+Mono');


html, body {    
  height: 100%;
  font-family: 'Space Mono', monospace;
  font-size: 24px;

}

#container {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#yellow {
    height:100%;
    width: 25%;
    float: left;
    background-color: yellow;
    opacity: 0.5;
    transition: opacity .50s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
}

#green {
    height:100%;
    width: 25%;
    float: left;
    background-color: green;

    opacity: 0.5;
  
    float: left;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#red {
    height:100%;
    width: 25%;
    float: left;
    background-color: red;

    opacity: 0.5;

    float: left;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#blue {
    height:100%;
    width: 25%;
    float: left;
    background-color: blue;

    opacity: 0.5;
  
    float: left;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#yellow:hover {
    
    opacity: 0.75;
}

#green:hover {
    opacity: 0.75;
}

#red:hover {
    opacity: 0.75;
}

#blue:hover {
    opacity: 0.75;
}

